{% extends 'RoleStoreBundle:Offer:layout.html.twig' %}
{% block panel %}
<h1>Offer</h1>

<table class="record_properties">
    <tbody>
        <tr>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Pricing</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th>Stocklimit</th>
            <td>{{ entity.stockLimit }}</td>
        </tr>
        <tr>
            <th>Timelimit</th>
            <td>{{ entity.timeLimit|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updatedat</th>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ofertas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ofertas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ofertas_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
